<div class="row">
	<div class="col-md-2"></div>

	<div class="col-md-8">

		<div class="panel panel-success">
			<div class="panel-heading">Edit your stuff!</div>

		<div class="panel-body">
			<%= form_for @trainee, :html => {:class => 'form-horizontal', :multipart => true }, url: trainee_url do |f| %>
      <div class="form-group">
        <%= f.label :first_name, :class => "control-label col-md-3" %>
        <div class="col-md-7">
          <%= f.text_field :first_name, :class => "form-control", required: true %>
        </div>
        <div class="col-md-offset-3"></div>
      </div>

      <div class="form-group">
        <%= f.label :last_name, :class => "control-label col-md-3" %>
        <div class="col-md-7">
          <%= f.text_field :last_name, :class => "form-control", required: true %>
        </div>
        <div class="col-md-offset-3"></div>
      </div>

      <div class="form-group">
        <%= f.label :birthday, :class => "control-label col-md-3" %>
        <div class="col-md-7">
          <%= f.date_field :birthday, :class => "form-control", required: true %>
        </div>
        <div class="col-md-offset-3"></div>
      </div>

      <div class="form-group">
        <%= f.label :year, :class => "control-label col-md-3" %>
        <div class="col-md-7">
          <%= f.text_field :year, :class => "form-control", required: true %>
        </div>
        <div class="col-md-offset-3"></div>
      </div>

      <div class="form-group">
        <%= f.label :email, :class => "control-label col-md-3" %>
        <div class="col-md-7">
          <%= f.text_field :email, :class => "form-control", required: true %>
        </div>
        <div class="col-md-offset-3"></div>
      </div>

      <div class="form-group">
        <%= f.label :phone, :class => "control-label col-md-3" %>
        <div class="col-md-7">
          <%= f.text_field :phone, :class => "form-control", required: true %>
        </div>
        <div class="col-md-offset-3"></div>
      </div>

      <div class="form-group">
        <%= f.label :room, :class => "control-label col-md-3" %>
        <div class="col-md-7">
          <%= f.text_field :room, :class => "form-control", required: true %>
        </div>
        <div class="col-md-offset-3"></div>
      </div>

      <div class="form-group">
        <%= f.label :suse_login, :class => "control-label col-md-3" %>
        <div class="col-md-7">
          <%= f.text_field :suse_login, :class => "form-control", required: true %>
        </div>
        <div class="col-md-offset-3"></div>
      </div>

      <div class="form-group">
        <%= f.label :github, :class => "control-label col-md-3" %>
        <div class="col-md-7">
          <%= f.text_field :github, :class => "form-control", required: true %>
        </div>
        <div class="col-md-offset-3"></div>
      </div>

      <div class="form-group">
        <%= f.label :trello, :class => "control-label col-md-3" %>
        <div class="col-md-7">
          <%= f.text_field :trello, :class => "form-control", required: true %>
        </div>
        <div class="col-md-offset-3"></div>
      </div>

      <div class="form-group">
        <%= f.label :description, :class => "control-label col-md-3" %>
        <div class="col-md-7">
          <%= f.text_area :description, :class => "form-control", :rows => "5", :placeholder => "Please tell us more about yourself (e.g. what you did before joining SUSE etc)!", required: true %>
        </div>
        <div class="col-md-offset-3"></div>
      </div>

      <div class="form-group">
        <%= f.label :image, :class => "control-label col-md-3" %>
        <div class="col-md-7">
          <%= f.file_field :image %>
        </div>
        <div class="col-md-7">
          <%= f.label :remote_image_url, "or image URL:" %><br>
          <%= f.text_field :remote_image_url %>
        </div>
        <div class="col-md-offset-3"></div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-3 col-md-10">
          <%= link_to 'Cancel', :back, :class => "btn btn-default" %>
          <%= f.submit 'Update', method: :patch, :class => "btn btn-success" %>
        </div>
      </div>
		<% end %>
		</div>
		</div>
	</div>
</div>
